@charset "UTF-8";

main {
  position:relative;
  text-align:center;
  margin: 0 auto;
  width: 800px;
  /* フォームの輪郭 */
  padding: 1em;
  border: 2px solid #000;
  margin: 40px 21em;
  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main li + li {
  margin-top: 1em;
}

h1 {
	font-family: serif;
	font-size: 36px;
	border-bottom: 2px solid #000000;
	font-weight: bold;
	margin: 1em 6em;
}

p {
	display: inline-block;
    width:  100px;
    text-align: right;
    margin: 20px;
}

label {
  /* 大きさと配置を統一 */
  display: inline-block;
  width:  100px;
  text-align: right;
}

input[type=text],
textarea {
  /* すべてのテキストフィールドのフォント設定を一致させる
     既定で、 textarea には等幅フォントが設定されている */
  font: 1em sans-serif;
  width: 200px;

  /* テキストフィールドの大きさを統一 */
  width: 300px;
  box-sizing: border-box;

  /* フォームフィールド境界に合わせる */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* フォーカスのある要素を強調する */
  border-color: #000;
}

textarea {
  /* 複数行のテキストフィールドをラベルに揃える */
  vertical-align: top;

  /* テキスト入力に十分な空間を与える */
  height: 5em;
}

.button {
  /* ボタンを他のテキストフィールドと同じ場所に置く */
  padding-left: 90px; /* label 要素と同じサイズ */
}

button {
  /* このマージンは、ラベルとテキストフィールドの間のスペースと
     おおよそ同じスペースを表す */
  margin-left: .5em;
}}