@charset "UTF-8";

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

#h1 {
	font-size: 50px;
	font-family: serif;
	font-weight: bold;
	margin-top: 10px;
}

#main {
  width: 800px;
  height: 200px;
  border: 1px dotted black;
}

div.header_box{
  position:relative;
  text-align:center;
  padding: 0;
  margin: 0;
  height: 100px;
  background-color: #00a0dc;
  color: #fff;
  font-family: serif;
  
}
div.headerbox span{
	width:100px;
	height: 100px;
	font-size:32px;
}

#login {
	position: relative;
    right: 40px;
    bottom: 100px;
    color: #000;"
    font-size: 20px;
}

