@charset "UTF-8";

.nav_list{
    background: #126671;
    padding: 0;
    font-family:serif;
    font-weight: bold;
    width:100%;
    text-align:center;
    
}
.nav_list li{
    display: inline-block;
    width: 20%;

}

.nav_list li a {
    display: block;
    padding: 10px 10%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 15px 5px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav_list li a:hover {
    background: #14727e;
}

