@charset "UTF-8";

form {
  position:relative;
  margin: 0 auto;
  width: 800px;
  /* フォームの輪郭 */
  padding: 1em;
  border: 2px solid #000;
  margin: 40px 21em;
  
}

ul li{
  list-style-type: none;
}

.Bigquestion{
	margin: 40px 0;
}

#B_ques_area{
	width: 500px;
	height: 200px;
	margin: 20px 20px;
}

.S_ques_area{
	width: 500px;
	height: 80px;
	margin: 20px 20px;
}
.Select{
	width: 600px;
	margin-bottom: 30px;
}

select{
	width: 100px;
}

h1 {
	text-align:center;
	font-family: serif;
    font-size: 34px;
    border-bottom: 2px solid #000000;
    margin: 1em 6em;
    font-weight: bold;
}

.Smallquestion{
	display: none;
}

.footer{
	margin-top: 100px;
}

.back{
	position:relative; 
	font-family: serif;
	font-size:22px;
	margin-right: 200px;
	border-radius:10px;
}

.ok {
	position:relative;
	font-family: serif;
	font-size:22px;
	margin-left: 200px;
	border-radius:10px;
}


#ok_1 {
	position:relative;
	font-family: serif;
	font-size:22px;
	margin-left: 450px;
	border-radius:10px;
}